@import "../../scss/variables";
footer{
    padding: 1rem 0;
    background: $background;
    box-shadow: 0 0 5px rgba(121, 121, 121, .3);
    // position: sticky;
    // width: 100%;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // z-index: 99999;
    h6{
        color: $secondaryColor;
    }
}