@import "../../scss/variables";

header {
    .navbar-brand {
        padding: 1rem 0;
        color: $mainColor;
        font-weight: 700;

        &:hover,
        &:focus {
            color: $mainColor;
        }
    }

    .navbar {
        padding: 0;
        background: $background;
        position: fixed;
        width: 100%;
        z-index: 999999999;
        box-shadow: 0 0 5px rgba(121, 121, 121, .3);

        form {
            position: relative;

            .form-group {
                position: relative;

                .form-control {
                    border-radius: 25px;
                    line-height: 10;
                    width: 280px;
                    text-indent: 15px;
                    transition: $transition;
                    box-shadow: $box-shadow;
                    background: #242526;
                    border: none;
                    color: $secondaryColor;
                    &:focus {
                        width: 300px;
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
                ::-webkit-input-placeholder{
                    color: $secondaryColor;
                    font-size:$medium-light ;
                }
                .fa {
                    position: absolute;
                    left: 7px;
                    top: 12px;
                    z-index: 555;
                    color: $secondaryColor;
                    font-size:$medium-light ;
                }
            }


            .list-movies {
                background: #242526;
                width: 300px;
                height: auto;
                max-height: 450px;
                overflow-y: scroll;
                display: block;
                text-transform: capitalize;
                position: absolute;
                top: 45px;
                border-radius: 5px;
                margin: 0;
                transition: $transition;
                padding: 5px 10px;
                li {
                    display: block;
                    transition: all .3s ease-in-out;
                    padding: 5px 10px;
                    margin-right: 0;
                    border-radius: 5px;

                    &:hover {
                        background: #292a2c;
                    }

                    .item-link {
                        text-decoration: none;
                        color: $secondaryColor;
                        transition: $transition;
                        display: flex;
                        align-items: center;
                        h6 {
                            margin-bottom: 0;
                        }

                        img {
                            width: 60px;
                            height: 60px;
                            border-radius: 5px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        ul {
            padding: 1rem 0;
            margin-bottom: 0;
            display: flex;
            align-items: center;

            li {
                margin-right: 1rem;
                cursor: pointer;

                .nav-item {
                    color: $gray;
                    font-weight: 700;
                    text-transform: capitalize;
                    text-decoration: none;
                }

                .Dropdown-categories {
                    transition: all 2s ease-in-out;
                    .btn {
                        background: transparent;
                        color: $gray;
                        border: none;
                        font-weight: 700;
                        text-transform: capitalize;
                        padding: 0;
                        &:active {
                            background: transparent;
                            border: none;
                            color: $gray;
                            box-shadow: none;
                        }

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }

                    .dropdown-menu {
                        transition: $transition;
                        background: #242526;
                        box-shadow: 0 0 5px rgba(121, 121, 121, .3);
                            .link-item {
                                color: $gray;
                                font-weight: 500;
                                text-decoration: none;
                                padding: 5px 15px;
                                display:grid;
                                &:hover {
                                    color:  $background;
                                    background: $mainColor;
                                }
                            }
                    }
                }

                .active {
                    color: $mainColor;
                }
            }
        }
    }
}


@media(max-width:768px){
    header {
        .navbar {
            form{
                width: 100%;
                .form-group {
                    .form-control{
                        width: 100%;
                        &:focus{
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}