// colors
$gray:#777;
$gray-dark:#111;
$background:#18191a;
$gray-light:#ddd;
$mainColor:#ffff01;
$secondaryColor:#999;
$active-background:#f2f2f2; 
$light-background:#eaeaea; 
// general
 
$paddingTitle:1.5rem 0;
$padding: .75rem 1rem;
$paddingSection: 1rem;
$margin-top:20px;
$default-margin-top:10px; 
$margin-bottom:15px;
$bold:700;
$border-radius: 0.5rem;
$border-curve: 2rem;
$transition:all .3s ease-in-out;
$box-shadow: 0 2px 4px rgba(0, 0,0, .25);
$large-bold: 1.785rem; // 25px
$large-light: 1.25rem; // 20px
$defaultFont: 1.125rem; // 18px
$medium-bold: 1.0625rem; // 17px
$regular-size: 1rem; // 16px

$medium-light:0.875rem; // 14px

$button-text:0.8125rem; // 13px  
$small-size:0.6875rem; // 11px  



$fontFamily:"Roboto Condensed", Arial, sans-serif;
